.category-cards-container {
  display: flex;
  justify-content: center;
  width:95%;
  margin: 0 auto;
}

.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 0 16px;
}

.category-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 3 / 2;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.card-title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: start;
}

.card-count {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  opacity: 0.9;
}

.card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FACC15;
  color: #1E3A8A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.card-card:hover .card-icon {
  background-color: #f0d670;
}

@media (max-width: 768px) {
  .category-cards {
    grid-template-columns: 1fr;
  }
}