.categories {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    padding: 30px 0;
    overflow-x: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

.card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F6F3;
    border-radius: 8px;
    height: 140px;
    cursor: pointer;
}

.card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.card span {
    font-weight: 500;
    font-size: 14px;
}

.card:hover {
    outline: 1px solid black;
}

.card:hover span {
    text-decoration: underline;
}