.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 50px;
}
.product-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image:hover {
  transform: scale(1.05)
}

.product-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-title {
  margin: 0;
  font-size: 1.1rem;
  color: black;
  font-weight: 600;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
}

.star-icon {
  color: #facc15;
}

.rating-value {
  font-weight: 600;
  color: #333;
}

.review-count {
  color: #888;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1e3a8a;
}

.buy-button {
  background-color: #facc15;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  color: #1e3a8a;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buy-button:hover {
  background-color: #fde047;
}

.cart-icon {
  font-size: 1.1rem;
}


@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}