* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}