h1{
    font-size: 56px;
    color: #1E3A8A;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}
h3{
    font-size: 24px;
    color: #6B7280;
    font-weight: 500;
    margin: 0 0 70px 0;
    text-align: center;
}