h1{
    font-size: 56px;
    color: #1E3A8A;
    font-weight: bold;
}
h2{
    font-size: 36px;
    color: #1E3A8A;
    font-weight: bold;
}
h3{
    font-size: 24px;
    color: #6B7280;
    font-weight: 500;
}