
.bg-blue {
  background: var(--blue);
}

.top-stripe {
  padding: 8px 0;
}

.top-stripe p {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #E5E7EB;
  background: white;
  transition: transform 0.2s;
  z-index: 1000;
}

.header--hidden{
  transform: translateY(calc(-1*var(--header-height)));
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.headerLeft img.logo {
  max-height: 48px;
  width: auto;
}

.headerNav .navLinks {
  display: flex;
  gap: 24px;
  list-style: none;
}


.headerNav .navLinks a {
  text-decoration: none;
  color: #111827;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.2s ease;
}

.headerNav .navLinks a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.headerNav .navLinks a.active {
  color: var(--blue);
  position: relative;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 20px;
  z-index: 999;
}

.column {
  float: left;
  width: 25%;
  background-color: white;
  height: 200px;
}

.column a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 20px 0;
}

.navLinks li:hover .dropdown-content {
  display: block;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.searchInput {
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #D1D5DB;
  font-size: 16px;
  width: 220px;
  outline: none;
}

.searchInput:focus {
  border-color: var(--blue);
  border: 1.5px solid var(--blue);
}

.cartIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.cartIcon img {
  height: 25px;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #DC2626;
  color: white;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userOption {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
}

.userOption img {
  height: 25px;
}

.userOption:hover {
  color: var(--blue);
}

